
.navbar-light{
    background-color: #2c3e50;
}


.navbar .nav-link {
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    margin: 20px;
    transition: background-color 0.3s ease; 
}

.navbar .nav-link.active,
.navbar .nav-link:focus,
.navbar .nav-link:hover {
    background-color: #18bc9c;
    color: white;
    border-radius: 5px;
}